 body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
.logo {
            font-size: 70px;
            font-weight: bold;
            font-family: 'Product Sans', Arial, sans-serif;
        }


 input {
            width: 500px;
            padding: 12px 20px;
            border: 1px solid #dcdcdc;
            border-radius: 24px;
            font-size: 16px;
            outline: none;
        }