
body{
    background-color: rgb(242, 236, 236);
}
.code a {
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 200px;  
    font-size: 18px;
    text-align: left;
    padding: 100px;
    align-items: center;
}
 
 body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
.hello {
            font-size: 70px;
            font-weight: bold;
            font-family: 'Product Sans', Arial, sans-serif;
            color: white;
}
        


 input {
            width: 500px;
            padding: 12px 20px;
            border: 1px solid #dcdcdc;
            border-radius: 24px;
            font-size: 16px;
            outline: none;
        }

    
