
body{
    background-color:rgb(60, 60, 60)
}
 a {
   color: white;
   text-align: center;
   margin-top: 200px;
   justify-content: right;
   font-size: smaller;
}
 
 .why {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
.hello {
            font-size: 70px;
            font-weight: bold;
            font-family: 'Product Sans', Arial, sans-serif;
            color: white;
}
        


 input {
            width: 500px;
            padding: 12px 20px;
            border: 1px solid #dcdcdc;
            border-radius: 24px;
            font-size: 16px;
            outline: none;
        }

    
